transformers==4.45.2
deepspeed==0.15.3
datasets==2.14.6
accelerate==1.0.1
Pillow==10.0.1
pyaml==20.4.0
redis==3.4.1
coloredlogs==10.0
gunicorn==20.0.4
flask_cors==3.0.10
flask==2.0.2
scikit-learn==1.0.2
setuptools==58.0.4
numpy==1.26.3
